/* =============================== GOOGLE FONTS ============================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* =============================== VARIABLE CSS ============================== */
:root {
  --header-height: 3rem;

  --primary-color: #b91c1c;
  --secondary-color: ;
  --title-color: #4b5563;
  --text-color: #e5e7eb;
  --dark-text-color: #374151;
  --text-color-light: #f9fafb;
  --body-color: #f9fafb;
  --container-color: #ffffff;

  --body-font: "Poppins", sans-serif;
  --big-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.93rem;
  --small-font-size: 0.81rem;
  --smaller-font-size: 0.75rem;

  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 6rem;

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and(min-width: 768px) {
  :root {
    --big-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.9rem;
    --smaller-font-size: 0.8rem;
  }
}

/* =============================== BASE ============================== */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* ====================== VARIABLE DARK THEME ======================== */

/* ======================= BUTTON DARK/LIGHT ========================= */

/* ============================ CLASS CSS ============================ */
.section {
  padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-3);
}
.section-subtitle {
  display: block;
  color: var(--primary-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}
/* ============================= LAYOUT ============================== */
.bd-container {
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--primary-color);
}
/* =========================== NAVIGATION ============================ */
.nav {
  max-width: 1024px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 1.5rem 0 1rem;
    background-color: var(--primary-color);
    transition: 0.4s;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed);
  }
}

.nav__item {
  margin-bottom: var(--mb-2);
}

.nav__link,
.nav__logo,
.nav__toggle {
  color: var(--text-color);
  font-weight: var(--font-medium);
}

.nav__logo:hover {
  color: var(--dark-text-color);
}

.nav__link {
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--dark-text-color);
}
.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

/* Show menu */
.show {
  top: var(--header-height);
}

/* Active menu */
.active-link {
  color: var(--dark-text-color);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* scrolltop */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background-color: rgb(6, 156, 84, 0.5);
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  visibility: hidden;
}

.scrolltop__icon {
  font-size: 1.5rem;
  color: var(--body-color);
}

/* Show scrolltop */
.scroll-top {
  visibility: visible;
  bottom: 1.5rem;
}

/* ============================== HOME =============================== */

/* ============================ BUTTONS ============================== */

/* ============================= ABOUT =============================== */

/* =========================== SERVICES ============================== */

/* ============================= MENU ================================ */

/* ============================== APP ================================ */

/* ============================ CONTACT ============================== */

/* ============================= FOOTER ============================== */

/* ========================== MEDIA QUERIES ========================== */
